@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .custom-cursor {
    cursor: url('../../public/cropTarget.png'), auto;
  }
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  @keyframes spin-x {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(360deg); }
  }

  .spin-x-animation {
    animation: spin-x 6s linear infinite;
  }

}
