@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black
}

@layer components {
  @keyframes spin-x {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(360deg); }
  }

  .spin-x-animation {
    animation: spin-x 6s linear infinite;
  }

}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
